<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{site.url}}/css/common.css">
    <title>Idle Boy</title>
</head>
<body>
    <head>
        <h1>Idle Boy</h1>
        {% include nav.htm %}
    </head>
    {{content}}

    <footer>
        {% include nav.htm %}
        <P>©️ 2022 Idle Boy</P>
    </footer>
</body>
</html>